/*Master style*/
body {
    margin: 0px;
    
}
.container{
    display: grid;
    grid-template-columns: 1fr;
}


/*Nav style*/
.navigation {
display: flex;
justify-content: space-between;
padding: 38px;
 
}
.left-side {
display: flex;

}
.navigation > .left-side > div {
    margin-right: 20px;
   text-transform: uppercase;
}
.nav-link {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.active-nav-link {
border-bottom: 1px solid black;



}
.active-nav-link a {
    color: black !important;
    
    }
.nav-link a {

    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.nav-link:hover {
    border-bottom: 1px solid black;
}
.nav-link a:hover {
     color: black;
     transition: 0.5s;

}
/*portfolio style*/
.portfolio-items {
 display: grid;
 
 grid-template-columns: 1fr 1fr 1fr ;

}

.portfolio-item {
    position: relative;
}

.portfolio-img-backgroung {
height: 350px;
width: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}


.img-text {
position: absolute;
top: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
text-align: center;
padding-left: 20px;
padding-right: 1px;

}
.logo {

    width: 300;
    height: 280;
    margin-bottom: 0px;
    display: flex;
}
.img-text:hover .subtitle {

    font-weight: 600;
    color: teal;
}
.img-dark {
    transition: 1s;
    filter: brightness(10%);
}
/*About */
.two-column {
display: grid;
grid-template-columns: 1fr 1fr;


}
.profile {
  width: 100%;

}
.profile-content {
padding-right: 30px;
}
.profile-content h1 {
color: teal;

}
/*feedback*/
.part1 {
    display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;
    height: 300;
    width: 100%;
	
}
.box{
    margin: 0;
    height: fit-content;
    width: 100%;
   align-items: center;
      }

/*login*/
.review {
    display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;

}
.box2{

    display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px;

}
